<div class="main-container">
  <div class="breadcrumbs">
    <span><a ng-href="#{{breadcrumbs.url}}/view">{{breadcrumbs.name}}</a><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#ar-right"></use></svg></i></span>
    <span><a href="">{{cardData.name}}</a></span>
  </div>
  <div class="page-container">
    <div class="topBlock">
      <h1 class="topBlock__name">{{cardData.name}}</h1>
      <a ng-href="#{{url}}/connect-data/arguments/{{cardData.id}}" class="bttn bttn--blue"
          ng-show="isBought(cardData.id ,allBoughtCards)">{{allStrings.cardItem.dataActivation}}</a>
      <a ng-href="" class="bttn bttn--blue" ng-hide="isBought(cardData.id, allBoughtCards)">{{allStrings.cardItem.buy}}</a>
      <div class="linkGroup" ng-init="selectedTab = 'description'">
        <span class="bttn bttn--grey" ng-class="{'active':selectedTab === 'description'}"
              ng-click="selectedTab = 'description'">{{allStrings.cardItem.description}}</span>
        <span class="bttn bttn--grey" ng-class="{'active':selectedTab === 'review'}"
              ng-click="selectedTab = 'review'">{{allStrings.cardItem.customerReviews}}</span>
        <span class="bttn bttn--grey" ng-class="{'active':selectedTab === 'same'}"
              ng-click="selectedTab = 'same'">{{allStrings.cardItem.moreWidgets}}</span>
      </div>
    </div>
    <div class="innerBlock">
        <div class="cardInfo" ng-show="selectedTab === 'description'">
            <div class="cardInfo__description">
                <div class="item">
                  <h2 class="head"><span>{{allStrings.cardItem.descriptionUnder}}</span></h2>
                  <p class="text">{{cardData.description_long}}</p>
                </div>
            </div>
            <div class="cardInfo__img">
                <div class="slick-slider">
                  <div><img ng-src="/img/cards/4-1.png" alt="" /></div>
                  <div><img ng-src="/img/cards/4-2.png" alt="" /></div>
                  <div><img ng-src="/img/cards/4-3.png" alt="" /></div>
                  <div><img ng-src="/img/cards/4-4.png" alt="" /></div>
                </div>
            </div>
        </div>
        <div class="cardReview" ng-show="selectedTab === 'review'">

        </div>
        <div class="cardSame" ng-show="selectedTab === 'same'">

        </div>
    </div>

  </div>
</div>
