@import "../../assets/css/_variables.less";

view-item {
  .main-container{
    .page-container {
      .topBlock {
        height: 92px;
        &__name {
          margin-bottom: 25px;
        }
        .linkGroup {
          margin-left: 25px;
          vertical-align: top;
        }  
      }  
    }
  }
}
