@import "../../assets/css/_variables.less";

view-item {
    .main-container{
        .page-container {
            .topBlock {
                height: 92px;
                &__name {
                  margin-bottom: 25px;
                }
                .linkGroup {
                  margin-left: 25px;
                  vertical-align: top;
                }
                &__right {
                  position: absolute;
                  right: 0;
                  padding-right: 40px;
                  top: 0;
                  padding-top: 53px;
                  .cardAction {
                    position: absolute;
                    right: 18px;
                    top: -10px;
                    .icon {
                      fill: @blue;
                    }
                  }
                  .cardReview-midRate_stars {
                    margin: 0;
                    float: none;
                    display: inline-block;
                    vertical-align: sub;
                    width: auto;
                    height: 12px;
                    .star {
                      height: auto;
                      width: auto;
                      i {
                        width: 12px;
                        height: 12px;
                      }
                    }
                  }
                  .cardProperties {
                    color: #adadad;
                    font-size: 10px;
                    font-weight: 400;
                    margin-left: 36px;
                    line-height: 12px;
                  }
                }
            }
            .innerBlock {
                position: absolute;
                top: 116px;
                bottom: 0;
                left: 20px;
                right: 20px;
            }
        }
    }
    .modalOverlay {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      transition: 0.2s linear;
      .modalReviews {
        background-color: #fcfcfc;
        position: relative;
        border-radius: 4px;
        box-shadow: 0 0 20px #333;
        margin: 80px auto;
        overflow: hidden;
        left: 0;
        right: 0;
        width: 500px;
        height: 450px;
        &_head {
          width: 100%;
          color: #1a1a1a;
          background: #f5f5f5;
          height: 43px;
          position: relative;
          border-bottom: 1px solid #e6e6e6;
          p {
            line-height: 41px!important;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .14px;
            line-height: 18.432px;
            text-align: center;
            width: 100%!important;
            margin: 0;
          }
          .close {
            width: 40px;
            height: 40px;
            margin: 0;
            line-height: 1;
            position: relative;
            top: -40px;
            border: 1px solid transparent;
            float: right;
            background-color: transparent;
            text-align: center;
            padding: 0;
            cursor: pointer;
            color: transparent;
            font-size: 14px;
            font-weight: 400;
            border-radius: 50%;
            transition: 0.2s linear;
            i {
              width: 18px;
              height: 18px
            }
          }
        }
        &_body {
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          .cardReview-userRate {
            position: relative;
            width: 100%;
            top: -10px;
            padding-bottom: 10px;
            &_submit {
              margin-left: 40px;
              top: -4px;
            }
            .review {
              width: 100%;
              input {
                margin-top: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                width: 100%;
                border-left-color: transparent;
                border-right-color: transparent;
              }
              textarea {
                width: 100%;
                height: 285px;
                border: none;
                resize: none;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e8e8e8;
                border-left-color: transparent;
                border-right-color: transparent;
              }
            }
          }
        }
      }
    }
    .cardInfo {
        padding-right: 50%;
        height: 100%;
        &__description {
            overflow-y: auto;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 10px;
            right: 50%;
            padding-right: 13px;
            .item {
                margin-bottom: 24px;
                .head {
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 100;
                    color: #adadad;
                    margin: 0;
                    margin-bottom: 10px;
                    margin-left: 3px;
                    text-transform: uppercase;
                    overflow: hidden;
                    span {
                        background: #fff;
                        position: relative;
                        z-index: 2;
                        padding-right: 13px;
                        display: inline-block;
                        letter-spacing: 0;
                    }
                    &:after {
                        display: block;
                        content: ' ';
                        border-top: 1px solid #e1e1e1;
                        position: relative;
                        top: -8px;
                    }
                }
                .text {
                    font-size: 12px;
                    color: #000;
                    font-weight: 400;
                    letter-spacing: .3px;
                    line-height: 15px;
                    margin-top: 0;
                    white-space: pre-line;
                }
            }
        }
        &__img {
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 10px;
            padding: 0 16px;
            margin-bottom: 40px;
            img {
                max-width: 100%;
            }
            .slick-slider {
                width: 100%;
            }
        }
    }
  .cardReview {
    .head {
      width: 100%;
      font-size: 18px;
      line-height: 18px;
      font-weight: 100;
      color: #adadad;
      margin: 0;
      margin-bottom: 10px;
      margin-left: 3px;
      text-transform: uppercase;
      overflow: hidden;
      position: relative;
      top: 20px;
      span {
        position: relative;
        z-index: 2;
        padding-right: 13px;
        display: inline-block;
        letter-spacing: 0;
        background: #ffffff;
      }
      &:after {
        display: block;
        content: ' ';
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #f8f8f8;
        position: relative;
        top: -8px;
      }
    }
    &-midRate, &-userRate {
      margin-right: 50px;
      float: left;
      span {
        font-size: 12px;
        float: left;
      }
      &_stars {
        margin-left: 10px;
        margin-right: 10px;
        float: left;
        width: 100px;
        height: 16px;
        cursor: pointer;
        .star {
          width: 16px;
          height: 16px;
          i {
            width: 16px;
            height: 16px;
            svg {
              fill: #ffa000;
            }
          }
        }
      }
    }
    &-userRate {
      &_stars {
        .star {
          i {
          svg {
            fill: #acacac;
          }
        }
          &:hover {
            i {
              svg {
                fill: #ffa000;
              }
            }
          }
        }
      }
      &_submit {
        border: 1px solid #303f9f;
        background: #ffffff;
        color: #303f9f;
        font-weight: 600;
        margin-left: 60px;
        position: relative;
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        top: -4px;
        transition: 0.2s linear;
        &:hover {
          border: 1px solid #303f9f + #505050;
          color: #303f9f + #505050;
        }
      }
    }
  }
}
