<div class="dropmodal dropmodal--{{placement}}">

		<span class="dropmodal__trigger" ng-click="openDropContent()">

			<i class="icon"><svg role="img"><use xlink:href="" ng-href="img/svg-symbols.svg#{{iconName}}"></use></svg></i>

		</span>

		<div class="dropmodal__content">
			<i class="dropmodal__content_cancel icon" ng-click="closeDropContent()">
				<svg role="img"><use xlink:href="img/svg-symbols.svg#close"></use></svg>
			</i>
			<h4 class="dropmodal__content_header">{{stringTitle}}</h4>
			<div class="dropmodal__content_join">
				<div class="joinHeader">
					<a class="bindCell" ng-click="changeHeadIcon('cell-none')">
						<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#cell-none"></use></svg></i>
						<span>Inner</span>
					</a>
					<a class="bindCell" ng-click="changeHeadIcon('cell-left')">
						<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#cell-left"></use></svg></i>
						<span>Left</span>
					</a>
					<a class="bindCell" ng-click="changeHeadIcon('cell-right')">
						<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#cell-right"></use></svg></i>
						<span>Right</span>
					</a>
					<a class="bindCell" ng-click="changeHeadIcon('cell-full')">
						<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#cell-full"></use></svg></i>
						<span>Full Outer</span>
					</a>
					<a class="bttn bttn--blue" ng-click="closeDropContent()">{{stringJoin}}</a>
				</div>
				<div class="joinTable hide">
					<table>
						<thead>
							<tr>
								<th><span>Данные</span></th>
								<th><span>CF факт</span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span>Наименование столбца 1</span></td>
								<td><span>Наименование столбца 1</span></td>
							</tr>
							<tr>
								<td><span>Наименование столбца 1</span></td>
								<td><span>Наименование столбца 1</span></td>
							</tr>
							<tr>
								<td><span>Наименование столбца 1</span></td>
								<td><span>Наименование столбца 1</span></td>
							</tr>
							<tr>
								<td><span>Наименование столбца 1</span></td>
								<td><span>Наименование столбца 1</span></td>
							</tr>
							<tr>
								<td><span>Наименование столбца 1</span></td>
								<td><span>Наименование столбца 1</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span class="dropmodal__content_arrow"></span>
		</div>
</div>
