<div class="dropmodal dropmodal--{{placement}}" ng-class="{'dropmodal--active': openContent==true}">

		<span class="dropmodal__trigger" ng-click="openDropContent()">
					<span ng-show="selectedObject.length == 0">All products</span>
					<span ng-show="selectedObject.length > 0 && selectedObject.length <= 2" ng-repeat="item in selectedObject">{{item}}{{$last ? '' : ', '}}</span>
					<span ng-show="selectedObject.length > 2">Choosed {{selectedObject.length}} parametrs</span>
				<i class="icon" ng-hide="upAndDown">
					<svg role="img">
						<use xlink:href="" ng-href="img/svg-symbols.svg#ar-down"></use>
					</svg>
				</i>

				<i class="icon" ng-show="upAndDown">
					<svg role="img">
						<use xlink:href="" ng-href="img/svg-symbols.svg#ar-up"></use>
					</svg>
				</i>

		</span>

		<div class="dropmodal__content">
			<i class="dropmodal__content_cancel icon" ng-click="closeDropContent()">
				<svg role="img"><use xlink:href="img/svg-symbols.svg#close"></use></svg>
			</i>
			<h4 class="dropmodal__content_header">{{title}}</h4>
			<ol class="dropmodal__content_item">
				<!-- default -->
				<li>
					<a href="">
						<span ng-click="clickedDefault(content)">All projects</span>
						<i class="icon icon-checked" ng-show="selectedObject.length == 0">
							<svg role="img">
								<use xlink:href="" ng-href="img/svg-symbols.svg#checked"></use>
							</svg>
						</i>
					</a>
				</li>
				<!-- not default -->
				<li ng-repeat="item in content">
					<a href="">
						<span ng-click="clickedItems(item)">{{item.name}}</span>
						<i class="icon not_show icon-checked" ng-class="{'selected': item.selected}">
							<svg role="img">
								<use xlink:href="" ng-href="img/svg-symbols.svg#checked"></use>
							</svg>
						</i>
					</a>
				</li>

			</ol>
			<span class="dropmodal__content_arrow"></span>
		</div>

</div>
