<div class="dropmodal dropmodal--{{placement}}">
		<i class="dropmodal__trigger icon" ng-click="openDropContent()">
			<svg role="img">
				<use xlink:href="" ng-href="img/svg-symbols.svg#{{iconName}}"></use>
			</svg>
		</i>
		<div class="dropmodal__content">
				<div class="dropdown2">
					<div class="titler" ng-class="{ 'titler_active' : showTitle}">
						<div class="titler_name">
							<span>{{title}}</span>
						</div>
						<div class="titler_line">
						</div>
						<button class="titler_eye" ng-click="showTitle = !showTitle">
						</button>
					</div>
					<div class="period" ng-class="{ 'period_active' : showTitle}">
						<input type="text" class="dropdown1_input" placeholder="Период"></input>
						<div class="plusminus">
							<div class="pluminus-center">
								<span class="plusminus-indicator">Текст:</span>
								<button class="button_minus" ng-click="minusNumber('periodNumber')"></button>
								<span class="plusminus-indicator">{{periodNumber}}s</span>
								<button class="button_plus" ng-click="addNumber('periodNumber')"></button>
							</div>
						</div>
					</div>
					<div class="titler" ng-class="{ 'titler_active' : showScale}">
						<div class="titler_name">
							<span>Шкала</span>
						</div>
						<div class="titler_line">
						</div>
						<button class="titler_eye" ng-click="showScale = !showScale">
						</button>
					</div>
					<div class="period" ng-class="{ 'period_active' : showScale}">
						<div class="plusminus-left">
							<div class="pluminus-center">
								<span class="plusminus-indicator">Шаг:</span>
								<button class="button_minus" ng-click="minusNumber('footNumber')"></button>
								<span class="plusminus-indicator">{{footNumber}}s</span>
								<button class="button_plus" ng-click="addNumber('footNumber')"></button>
							</div>
						</div>
						<div class="plusminus-right">
							<div class="pluminus-center">
									<span class="plusminus-indicator">Текст:</span>
								<button class="button_minus" ng-click="minusNumber('footNumberText')"></button>
								<span class="plusminus-indicator">{{footNumberText}}s</span>
								<button class="button_plus" ng-click="addNumber('footNumberText')"></button>
							</div>
						</div>
					</div>
					<div class="titler" ng-class="{ 'titler_active' : showOs}">
						<div class="titler_name">
							<span>Ось</span>
						</div>
						<div class="titler_line">
						</div>
						<button class="titler_eye" ng-click="showOs = !showOs">
						</button>
					</div>
					<div class="period" ng-class="{ 'period_active' : showOs}">
						<div class="plusminus">
							<div class="pluminus-center">
								<span class="plusminus-indicator">Толщина линии:</span>
								<button class="button_minus" ng-click="minusNumber('osNumber')"></button>
								<span class="plusminus-indicator">{{osNumber}}s</span>
								<button class="button_plus" ng-click="addNumber('osNumber')"></button>
							</div>
						</div>
					</div>
					<div class="dropdown1_save">
						<button class="button_saver">Сохранить</button>
						<button class="button_canceler" ng-click="closeDropContent()">Отмена</button>
					</div>
				</div>
			<!-- <span class="dropmodal__content_arrow"></span> -->
		</div>
</div>
<!-- <div class="dropbutton">
	<button class="panel_tools-button pull-right">
		<i class="icon">
			<svg role="img"><use xlink:href="img/svg-symbols.svg#legend"></use></svg>
		</i>
	</button>
	<div class="dropdown1">
		<div class="dropright">
			<div class="titler">
				<div class="titler_name">
					<span>Легенда</span>
				</div>
				<div class="titler_line">
				</div>
				<button class="titler_eye">
				</button>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
		</div>
		<div class="dropleft">
			<div class="vertagn">
				<button class="col-paint gentle-pink">
				</button>
				<button class="col-paint chritsmas-tree">
				</button>
				<button class="col-paint pink">
				</button>
				<button class="col-paint grass">
				</button>
				<button class="col-paint green">
				</button>
				<button class="col-paint purple">
				</button>
				<button class="col-paint violet">
				</button>
				<button class="col-paint gentle-green ">
				</button>
				<button class="col-paint night">
				</button>
				<button class="col-paint yellow current">
				</button>
				<button class="col-paint sky">
				</button>
				<button class="col-paint orange">
				</button>
				<button class="col-paint blue">
				</button>
				<button class="col-paint mandarin">
				</button>
				<button class="col-paint cyanogen">
				</button>
				<button class="col-paint sunrise">
				</button>
			</div>
		</div>

</div> -->
