<div class="dropmodal dropmodal--{{placement}}">
		<i class="dropmodal__trigger icon" ng-click="openDropContent()">
			<svg role="img">
				<use xlink:href="" ng-href="img/svg-symbols.svg#{{iconName}}"></use>
			</svg>
		</i>
		<div class="dropmodal__content">
				<div class="dropdown2">
					<div class="titler" ng-class="{ 'titler_active' : showLabel}">
						<div class="titler_name">
							<span>{{title}}</span>
						</div>
						<div class="titler_line">
						</div>
						<button class="titler_eye" ng-click="showLabel = !showLabel; onChangeAxisSettings()">
							<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#eye"></use></svg></i>
						</button>
					</div>
					<div class="period" ng-class="{ 'period_active' : showLabel}">
						<input type="text" class="dropdown1_input" ng-change="onChangeAxisSettings()" ng-model="periodString" placeholder="{{osString.period}}"></input>
						<div class="plusminus-low">
							<div class="plusminus-center">
								<span class="plusminus-indicator">{{osString.text}}:</span>
								<button class="button_minus" ng-click="minusNumber('periodNumber'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#minus"></use></svg></i></button>
								<span class="plusminus-indicator">{{periodNumber}}px</span>
								<button class="button_plus" ng-click="addNumber('periodNumber'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#plus"></use></svg></i></button>
							</div>
						</div>
					</div>
					<div class="titler" ng-class="{ 'titler_active' : showScale}">
						<div class="titler_name">
							<span>{{osString.scale}}</span>
						</div>
						<div class="titler_line">
						</div>
						<button class="titler_eye" ng-click="showScale = !showScale; onChangeAxisSettings()">
							<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#eye"></use></svg></i>
						</button>
					</div>
					<div class="period" ng-class="{ 'period_active' : showScale}">
						<div class="plusminus-left">
							<div class="plusminus-center">
								<span class="plusminus-indicator">{{osString.step}}:</span>
								<button class="button_minus" ng-click="minusNumber('footNumber');onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#minus"></use></svg></i></button>
								<span class="plusminus-indicator">{{footNumber}}s</span>
								<button class="button_plus" ng-click="addNumber('footNumber'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#plus"></use></svg></i></button>
							</div>
						</div>
						<div class="plusminus-right">
							<div class="plusminus-center">
									<span class="plusminus-indicator">{{osString.text}}:</span>
								<button class="button_minus" ng-click="minusNumber('footNumberText'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#minus"></use></svg></i></button>
								<span class="plusminus-indicator">{{footNumberText}}s</span>
								<button class="button_plus" ng-click="addNumber('footNumberText'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#plus"></use></svg></i></button>
							</div>
						</div>
					</div>
					<div class="titler" ng-class="{ 'titler_active' : showOs}">
						<div class="titler_name">
							<span>{{osString.os}}</span>
						</div>
						<div class="titler_line">
						</div>
						<button class="titler_eye" ng-click="showOs = !showOs; onChangeAxisSettings()">
							<i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#eye"></use></svg></i>
						</button>
					</div>
					<div class="period" ng-class="{ 'period_active' : showOs}">
							<div class="plusminus">
								<span class="plusminus-indicator">{{osString.lineSize}}:</span>
								<button class="button_minus" ng-click="minusNumber('osNumber'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#minus"></use></svg></i></button>
								<span class="plusminus-indicator">{{osNumber}}s</span>
								<button class="button_plus" ng-click="addNumber('osNumber'); onChangeAxisSettings()"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#plus"></use></svg></i></button>
							</div>
					</div>
					<div class="dropdown1_save">
						<!-- <button class="button_saver" ng-click="onSendSettings(activeActivastionId, iconName)">Сохранить</button> -->
						<button class="button_saver" ng-click="closeDropContent()">{{osString.save}}</button>
						<button class="button_canceler" ng-click="closeDropContent()">{{osString.cancel}}</button>
					</div>
				</div>
			<!-- <span class="dropmodal__content_arrow"></span> -->
		</div>
</div>
<!-- <div class="dropbutton">
	<button class="panel_tools-button pull-right">
		<i class="icon">
			<svg role="img"><use xlink:href="img/svg-symbols.svg#legend"></use></svg>
		</i>
	</button>
	<div class="dropdown1">
		<div class="dropright">
			<div class="titler">
				<div class="titler_name">
					<span>Легенда</span>
				</div>
				<div class="titler_line">
				</div>
				<button class="titler_eye">
				</button>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
			<div class="colors-input">
				<div class="col-input">
					<input placeholder="Color"/>
					<div class="col-indicator">
					</div>
				</div>
			</div>
		</div>
		<div class="dropleft">
			<div class="vertagn">
				<button class="col-paint gentle-pink">
				</button>
				<button class="col-paint chritsmas-tree">
				</button>
				<button class="col-paint pink">
				</button>
				<button class="col-paint grass">
				</button>
				<button class="col-paint green">
				</button>
				<button class="col-paint purple">
				</button>
				<button class="col-paint violet">
				</button>
				<button class="col-paint gentle-green ">
				</button>
				<button class="col-paint night">
				</button>
				<button class="col-paint yellow current">
				</button>
				<button class="col-paint sky">
				</button>
				<button class="col-paint orange">
				</button>
				<button class="col-paint blue">
				</button>
				<button class="col-paint mandarin">
				</button>
				<button class="col-paint cyanogen">
				</button>
				<button class="col-paint sunrise">
				</button>
			</div>
		</div>

</div> -->
