<div class="graphic_settings">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 graphic-set_breadcrumbs">
        <ul class="crumbs">
          <li><a href="">Мои карточки</a></li>
          <li><a href="">Незаполненные</a></li>
          <li><a href="">Читая приведенная стоимость (NPV план/факт)</a></li>
        </ul>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 graphic-set_bg title">
          <div class="row">
            <div class="col-xs-12">
              <h1>Чистая приведенная стоимость (NPV план/факт)</h1>
              <p><span class="step">Шаг 3.</span> Настройте внешний вид карточки для отображения на рабочем столе.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 graphic-set_main">
          <div class="row">
            <div class="col-xs-2 panel_left">
              <button class="panel_button">Данные</button>
              <p>Оси</p>
              <div class="ddrop">
              </div>
              <p>Значения</p>
              <div class="ddrop">
              </div>
              <div class="data-list">
                <ul>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                  <li>Аэропорты</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7 graphic-set_center">
              <div class="col-xs-12">
                <div class="row panel_tools">
                  <button class="panel_tools-button ico_graph1"></button>
                  <button class="panel_tools-button ico_graph2"></button>
                  <button class="panel_tools-button ico_graph3"></button>
                  <button class="panel_tools-button ico_graph4"></button>
                  <button class="panel_tools-button ico_graph5"></button>
                  <button class="panel_tools-button ico_graph6"></button>
                  <button class="panel_tools-button ico_graph7"></button>
                  <button class="panel_tools-button ico_graph8"></button>
                  <button class="panel_tools-button ico_graph9"></button>
                  <button class="panel_tools-button ico_graph10"></button>
                </div>
              </div>
              <div class="col-xs-12 graphic-set_center_graphic">

              </div>
            </div>
            <div class="col-xs-3 panel_right">
              <div class="col-xs-12 panel_tools">
                <div class="row">
                  <div class="dropbutton">
                    <button class="panel_tools-button ico_tool3 pull-right"></button>
                    <div class="dropdown1">
                      <div class="titler">
                        <span>Заголовок</span>
                      </div>
                    </div>
                  </div>
                  <div class="dropbutton">
                    <button class="panel_tools-button ico_tool2 pull-right"></button>
                  </div>
                  <div class="dropbutton">
                    <button class="panel_tools-button ico_tool1 pull-right"></button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row panel_tools-filter">
                  <div class="col-xs-12 filter-title">
                    <p>
                      <i class="ico_addfilter"></i>
                      <span>Добавить фильтр</span>
                    </p>
                  </div>
                  <div class="col-xs-12 panel_tools-filter_filters">
                    <p>
                      Период:
                    </p>
                    <p>
                      Прогноз на 2017:
                    </p>
                    <p>
                      Факт:
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
