<div class="graphic_settings">
  <div class="main-container">
      <div class="breadcrumbs">
        <span><a href="#{{breadcrumbs.url}}/view">{{breadcrumbs.name}}</a><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#ar-right"></use></svg></i></span>
        <span><a href="">{{cardKey[0].name}}</a></span>
      </div>
      <div class="page-container">
          <div class="topBlock">
            <h1 class="topBlock__name">{{cardKey[0].name}}</h1>
            <div class="topBlock__description">
              <span>ШАГ 1. Выберите параметр к которому хотите подключить источник данных.</span>
            </div>
            <div class="linkStep">
              <a ng-href="#{{breadcrumbs.url}}/connect-data/arguments/{{cardKey[0].id}}">Аргументы</a>
              <a>Подключить данные</a>
              <a class="active">График</a>
            </div>
          </div>
        <div class="graphic-set_main">
          <div class="row">
            <div class="col-xs-2 panel_left">
              <button class="panel_button">Данные</button>
              <p>Оси</p>
              <div class="ddrop">
              </div>
              <p>Значения</p>
              <div class="ddrop">
              </div>
              <div class="data-list">
                <ul>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#date"></use></svg></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#bol"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#time"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#datetime"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#number"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#date"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#text"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#date"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#time"></use></i>Аэропорты</li>
                  <li><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#number"></use></i>Аэропорты</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7 graphic-set_center">
              <div class="col-xs-12">
                <div class="row panel_tools">
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#diagram-chart"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#pie-chart"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#column-chart"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#line-chart"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#table"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#sign"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#space-matrix"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#funnel-chart"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#currency"></use></svg></i></button>
                  <button class="panel_tools-button"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#map"></use></svg></i></button>
                </div>
              </div>
              <div class="col-xs-12 graphic-set_center_graphic">

              </div>
            </div>
            <div class="col-xs-3 panel_right">
              <div class="col-xs-12 panel_tools">
                <div class="row">
                  <div class="dropbutton">
                    <button class="panel_tools-button pull-right"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#legend"></use></svg></i></button>
                    <div class="dropdown1">
                      <div class="dropright">
                        <div class="titler">
                          <div class="titler_name">
                            <span>Легенда</span>
                          </div>
                          <div class="titler_line">
                          </div>
                          <button class="titler_eye">
                          </button>
                        </div>
                        <div class="colors-input">
                          <div class="col-input">
                            <input placeholder="Color"/>
                            <div class="col-indicator">
                              <!-- indicator-->
                            </div>
                          </div>
                        </div>
                        <div class="colors-input">
                          <div class="col-input">
                            <input placeholder="Color"/>
                            <div class="col-indicator">
                              <!-- indicator-->
                            </div>
                          </div>
                        </div>
                        <div class="colors-input">
                          <div class="col-input">
                            <input placeholder="Color"/>
                            <div class="col-indicator">
                              <!-- indicator-->
                            </div>
                          </div>
                        </div>
                        <div class="colors-input">
                          <div class="col-input">
                            <input placeholder="Color"/>
                            <div class="col-indicator">
                              <!-- indicator-->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="dropleft">
                        <div class="vertagn">
                          <button class="col-paint gentle-pink">
                          </button>
                          <button class="col-paint chritsmas-tree">
                          </button>
                          <button class="col-paint pink">
                          </button>
                          <button class="col-paint grass">
                          </button>
                          <button class="col-paint green">
                          </button>
                          <button class="col-paint purple">
                          </button>
                          <button class="col-paint violet">
                          </button>
                          <button class="col-paint gentle-green ">
                          </button>
                          <button class="col-paint night">
                          </button>
                          <button class="col-paint yellow current">
                          </button>
                          <button class="col-paint sky">
                          </button>
                          <button class="col-paint orange">
                          </button>
                          <button class="col-paint blue">
                          </button>
                          <button class="col-paint mandarin">
                          </button>
                          <button class="col-paint cyanogen">
                          </button>
                          <button class="col-paint sunrise">
                          </button>
                        </div>
                      </div>
                      <div class="dropdown1_save">
                        <button class="button_saver">Сохранить</button>
                        <button class="button_canceler">Отмена</button>
                      </div>
                    </div>
                  </div>
                  <div class="dropbutton">
                    <button class="panel_tools-button pull-right"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#axis-y"></use></svg></i></button>
                    <div class="dropdown2">
                      <div class="titler">
                        <div class="titler_name">
                          <span>Заголовок</span>
                        </div>
                        <div class="titler_line">
                        </div>
                        <button class="titler_eye">
                        </button>
                      </div>
                      <div class="period">
                        <input class="dropdown1_input" placeholder="Период"></input>
                        <div class="plusminus">
                          <div class="pluminus-center">
                            <span class="plusminus-indicator">Текст:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                      </div>
                      <div class="titler_active">
                        <div class="titler_name">
                          <span>Шкала</span>
                        </div>
                        <div class="titler_line">
                        </div>
                        <button class="titler_eye">
                        </button>
                      </div>
                      <div class="period_active">
                        <div class="plusminus-left">
                          <div class="pluminus-center">
                            <span class="plusminus-indicator">Шаг:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                        <div class="plusminus-right">
                          <div class="pluminus-center">
                              <span class="plusminus-indicator">Текст:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                      </div>
                      <div class="titler_active">
                        <div class="titler_name">
                          <span>Ось</span>
                        </div>
                        <div class="titler_line">
                        </div>
                        <button class="titler_eye">
                        </button>
                      </div>
                      <div class="period_active">
                        <div class="plusminus">
                          <div class="pluminus-center">
                            <span class="plusminus-indicator">Толщина линии:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown1_save">
                        <button class="button_saver">Сохранить</button>
                        <button class="button_canceler">Отмена</button>
                      </div>
                    </div>
                  </div>
                  <div class="dropbutton">
                    <button class="panel_tools-button pull-right"><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#axis-x"></use></svg></i></button>
                    <div class="dropdown3">
                      <div class="titler">
                        <div class="titler_name">
                          <span>Заголовок</span>
                        </div>
                        <div class="titler_line">
                        </div>
                        <button class="titler_eye">
                        </button>
                      </div>
                      <div class="period">
                        <input class="dropdown1_input" placeholder="Период"></input>
                        <div class="plusminus">
                          <div class="pluminus-center">
                            <span class="plusminus-indicator">Текст:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                      </div>
                      <div class="titler_active">
                        <div class="titler_name">
                          <span>Шкала</span>
                        </div>
                        <div class="titler_line">
                        </div>
                        <button class="titler_eye">
                        </button>
                      </div>
                      <div class="period_active">
                        <div class="plusminus-left">
                          <div class="pluminus-center">
                            <span class="plusminus-indicator">Шаг:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                        <div class="plusminus-right">
                          <div class="pluminus-center">
                              <span class="plusminus-indicator">Текст:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                      </div>
                      <div class="titler_active">
                        <div class="titler_name">
                          <span>Ось</span>
                        </div>
                        <div class="titler_line">
                        </div>
                        <button class="titler_eye">
                        </button>
                      </div>
                      <div class="period_active">
                        <div class="plusminus">
                          <div class="pluminus-center">
                            <span class="plusminus-indicator">Толщина линии:</span>
                            <button class="button_minus"></button>
                            <span class="plusminus-indicator">1.2s</span>
                            <button class="button_plus"></button>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown1_save">
                        <button class="button_saver">Сохранить</button>
                        <button class="button_canceler">Отмена</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row panel_tools-filter">
                  <div class="col-xs-12 filter-title">
                    <p>
                      <i class="ico_addfilter"></i>
                      <span>Фильтры</span>
                    </p>
                  </div>
                  <div class="col-xs-12 panel_tools-filter_filters">
                    <p>
                      Период:
                    </p>
                    <p>
                      Прогноз на 2017:
                    </p>
                    <p>
                      Факт:
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
