@import "../../assets/css/_variables.less";
@import "../../assets/css/_mixins.less";

menu-top {
  .header {
    background: #fff;
    border-bottom: 1px solid #b3b3b3;
    height: 74px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    .menuBttn{
      .vertical-center;
      left: 20px;
      width: 24px;
      height: 22px;
      .dropmodal__trigger {
        width: 24px;
        height: 22px;
        svg {
          fill: @blue;
        }
      }
    }
    .linkGroup {
      .vertical-center;
      left: 67px;
    }
    
  }
}
