<div class="main-container">
    <div class="cardWidget" ng-repeat="card in allCards">
        <a class='cardWidget__href' ng-href="#/cardshop/item/{{card.id}}"></a>
        <div class="cardWidget__head">
            <h2 class="name">
                {{card.name}}
            </h2>
            <p class="discription">
                {{card.description}}
            </p>
        </div>
        <div class="cardWidget__img">
            <img ng-src="/img/cards/4-2.png" alt="" />
        </div>
        <div class="cardWidget__author">
            Эттон
        </div>
        <div class="cardWidget__price">
            {{card.rating}}
            <span class="currency"> ₽</span>
        </div>
    </div>
</div>
