@import "../../assets/css/_variables.less";
@import "../../assets/css/_mixins.less";

login-page {
    .loginPage {
        &__lang {
            position: absolute;
            right: 35px;
            top: 20px;
            width: 50px;
            ins {
                color: #adadad;
                font-size: 14px;
                margin-right: 10px;
                text-decoration: none;
            }
            button {
              margin-bottom: 20px;
              width: 60px;
              height: 40px;
              display: inline-block;
              border: none;
              transition: 0.2s linear;
              opacity: 0.5;
              &:hover, &_active {
                opacity: 1;
              }
              &.ru {
                background: url("/img/icons/flag_RUS_hover.svg") no-repeat 0px 0px;
              }
              &.en {
                background: url("/img/icons/flag_ENG_hover.svg") no-repeat 0px 0px;
              }
              i {
                width: 60px;
                height: 40px;
              }
            }
        }
        &__content {
            .block-center;
            position: fixed;
        }
        &__logo {
            text-align: center;
            margin-bottom: 20px;
        }
        &__form {
            width: 450px;
            background: #fff;
            border-radius: 1px;
            padding: 40px 60px 30px;
            border: 1px solid lighten(@grey-border, 20%);
            box-shadow: @shadow;
            h2 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 50px;
                position: relative;
                .icon {
                    fill: @green;
                    position: absolute;
                    left: -40px;
                    top: -3px;
                }
            }
        }
        &__link {
            padding: 23px 0;
            text-align: center;
            a {
                margin: 0 20px;
                text-decoration: none;
                border-bottom: 1px solid;
            }
        }
    }
}
