@import "../../assets/css/_variables.less";
my-widgets {
  .cardWidget {
    width: 255px;
    height: 320px;
    background: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: @radius;
    transition: box-shadow @speed;
    border: 1px solid lighten(@grey-border, 20%);
    &__href {
      width: 255px;
      height: 320px;
      position: absolute;
      margin: 0;
      padding: 0;
      margin-left: -11px;
      margin-top: -7px;
      z-index: 20;
    }
    &__head {
      height: 105px;
      .name{
        font-size: 14px;
        line-height: 17px;
        min-height: 34px;
        font-weight: 400;
        letter-spacing: .56px;
        margin: 0 -5px 8px 0;
      }
      .discription{
        font-size: 12px;
        line-height: 14px;
        color: #adadad;
        font-weight: 400;
        max-height: 42px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 8px 0 0; 
      }
    }
    &__img {
      height: 127px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 10px;
      transform: translateY(-30%);
        img{
          display: block;
          width: auto;
          height: 127px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
    }
    &__author,
    &__price {
      color: #adadad;
      line-height: 1;
      position: absolute;
    }
    &__author {
      font-size: 10px;
      letter-spacing: .4px;
      margin-bottom: 5px;
      margin-left: 5px;
      bottom: 24px;
    }
    &__price {
      font-size: 14px;
      display: block;
      right: 8px;
      bottom: 12px;
      font-weight: 600;
      .currency {
        font-family: sans-serif;
        font-weight: 400;
      }
    }
    &:after,
    &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: @blue;
        transition: @speed;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
    &:hover{
      box-shadow: @shadow;
      &:after,
      &:before {
        width: 50%;
        width: calc(~"50% + 1px");
      }
    }
  }
}
