<div class="list_sources">
  <ul>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
  </ul>
</div>
<div class='dropbox' ngf-drop ngf-select ng-model="files" class="drop-box"
    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
    accept="application/vnd.ms-excel"
    ngf-pattern="'application/vnd.ms-excel'">
    Drop pdfs or images here or click to upload
</div>
