<div class="list_sources">
  <ul>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
    <li><span class="glyphicon glyphicon-film"></span></li>
  </ul>
</div>
<div ng-show="!tablePreview"
    class='dropbox' ngf-drop ngf-select ng-model="files" class="drop-box"
    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
    accept="application/vnd.ms-excel"
    ngf-pattern="'application/vnd.ms-excel'">
    Перетащите файл в выделеную область для добавления
</div>
<div class="table" ng-show="tablePreview" style="height: 300px; overflow-y: scroll;" >
  <table style="width: 100%; ">
    <thead>
      <tr>
        <th ng-repeat="(key, value) in tablePreview[0]"
            ng-click="onSelectedColumn($index, key)"
            ng-class="{selected_column : $index == selectedColumn}">
          {{key}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="items in tablePreview">
        <td ng-repeat="item in items"
            ng-class="{'selected_column_tbody' : $index == selectedColumn}">
          {{item}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="choose_column" ng-show="showChooseColumn" style="border: solid 2px red; width: 200px;">
  <span ng-click="onChooseColumn()">Выбрать колонку</span>
</div>
