to-plug-load{
  height: 500px;

  .dragdrop{
    min-height: 430px;
  }

  .dropbox{
    background-color: #f5f5f5;
    min-height: 450px;
  }
  .selected_column{
    border: solid 2px #303f9f;
    border-bottom: none;
  }
  .selected_column_tbody{
    border: solid 2px #303f9f;
    border-top: none;
    border-bottom: none;
  }
}
