<ul class="sourceSelect__list list-unstyled">
    <li>
      <a class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#file"></use></svg></a>
    </li>
    <li>
      <a class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#db"></use></svg></a>
    </li>
    <li>
      <a class="icon"><span class="google-drive"></span></a>
    </li>
    <li>
      <a class="icon"><span class="dropbox"></span></a>
    </li>
    <li>
      <a class="icon"><span class="yandex-drive"></span></a>
    </li>
</ul>
<div ng-show="!tablePreview"
    class='fileDrop' ngf-drop ngf-select ng-model="files" class="drop-box"
    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
    accept="application/vnd.ms-excel"
    ngf-pattern="'application/vnd.ms-excel'">
    <div class="fileDrop__helper">
      <a class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#dnd"></use></svg></a>
      Перетащите файл в выделеную область для добавления
    </div>
</div>
<div class="table-wrap" ng-show="tablePreview">
  <div class="table">
    <div class="table__helper scrollbar">
      <table>
        <thead>
          <tr>
            <th ng-repeat="(key, value) in tablePreview[0]"
                ng-click="onSelectedColumn($index, key)"
                ng-class="{activeCol : $index == selectedColumn}">
                <div class="table__fixed">
                  <span>{{key}}</span>
                </div>
                <span class="table__textHelper">{{key}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="items in tablePreview">
            <td ng-repeat="item in items"
                ng-class="{'activeColBody' : $index == selectedColumn}">
                <span>{{item}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="bttnSelectCol" ng-show="showChooseColumn">
  <a class="bttn bttn--blue" ng-href="#{{parentUrl}}/connect-data/arguments/{{cardId}}" ng-click="onChooseColumn()">Выбрать колонку</a>
</div>
