@import "../../assets/css/_variables.less";
to-plug{
    .main-container {
        .page-container{
            .innerBlock{
                margin-top: 0;
                position: static;
                min-height: 500px;
            }
        }
    }
}
