<div class="main-container">
  <div class="breadcrumbs">
    <span><a ng-href="#{{breadcrumbs.url}}/view">{{breadcrumbs.name}}</a><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#ar-right"></use></svg></i></span>
    <span><a href="">{{cardKey[0].name}}</a></span>
  </div>
  <div class="page-container">
    <div class="topBlock">

      <div class="topBlock__description">
        <span>ШАГ 2. Подключить источник данных.</span>
      </div>
      <div class="linkStep" ng-init="selectedTab = 'arguments'">
        <a ng-class="{'active':selectedTab === 'arguments'}" ng-click="selectedTab = 'arguments'">Аргументы</a>
        <a ng-class="{'active':selectedTab === 'connect-data'}" ng-click="selectedTab = 'connect-data'">Подключить данные</a>
        <a ng-class="{'active':selectedTab === 'graphic'}" ng-click="selectedTab = 'graphic'">График</a>
      </div>
    </div>
    <div class="inner_content">
        <div class="loaded">
          <div class="list">
              <span>Загруженные файлы</span>
              <ul>
                <li ng-repeat="item in allResources" ng-class="{active : showDetails}">
                  {{item.path.substring(21, 30)}}
                  <i style="margin-left: 30px; cursor: pointer; font-size: 14px;"
                      ng-click="showDetails = !showDetails" ng-init="showDetails=$first">
                      +
                  </i>
                    <to-plag-loaded-tables
                        ng-show="showDetails"
                        resourse-id="item.id"
                        get-resources-tables="getResourcesTables"
                        show-table-preview=showTablePreview
                        download-table-names='showDetails'
                        get-table-name=getTableName
                    ></to-plag-loaded-tables>
                </li>
              </ul>
          </div>
        </div>
        <div class="load_content">
          <to-plug-load
                parent-url='parentUrl'
                activation-id='activationId'
                get-resources=getResources
                table-preview='tablePreview'
                choosed-table-name="choosedTableName"
                choosed-table-resource-id='choosedTableResourceId'
                argument-bound=argumentBound
          ></to-plug-load>
        </div>
    </div>
  </div>
</div>
