<div class="to_plug">
  <div class="breadcrumbs">
    Мои приложения > {{cardKey[0].name}}
  </div>
  <div class="page_content">
    <div class="header_content">

      <span>ШАГ 2. Подключить источник данных.</span>
      <div class="step_list" ng-init="selectedTab = 'arguments'">
        <a ng-class="{'active':selectedTab === 'arguments'}" ng-click="selectedTab = 'arguments'">Аргументы</a>
        <a ng-class="{'active':selectedTab === 'connect-data'}" ng-click="selectedTab = 'connect-data'">Подключить данные</a>
        <a ng-class="{'active':selectedTab === 'graphic'}" ng-click="selectedTab = 'graphic'">График</a>
      </div>
    </div>
    <div class="inner_content">
        <div class="loaded">
          <div class="list">
              <span>Загруженные файлы</span>
              <ul>
                <li ng-repeat="resources in allResources">{{resources.path.substring(21)}}</li>
              </ul>
          </div>
        </div>
        <div class="load_content">
          <div class="list_sources">
            <ul>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
            </ul>
          </div>
<!--           <div class="loaded_table" loadtable>
            123
            <input type="file" id='loadTable' style='display: none;'>
          </div> -->
          Drop File:
          <div ngf-drop ngf-select ng-model="files" class="drop-box" 
              ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
              accept="image/*,application/pdf" 
              ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload
          </div>
          Files:
          <ul>
              <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
          </ul>
        </div>
    </div>
  </div>
</div>
