<div class="to_plug">
  <div class="breadcrumbs">
    Мои приложения > {{cardKey[0].name}}
  </div>
  <div class="page_content">
    <div class="header_content">

      <span>ШАГ 2. Подключить источник данных.</span>
      <div class="step_list" ng-init="selectedTab = 'arguments'">
        <a ng-class="{'active':selectedTab === 'arguments'}" ng-click="selectedTab = 'arguments'">Аргументы</a>
        <a ng-class="{'active':selectedTab === 'connect-data'}" ng-click="selectedTab = 'connect-data'">Подключить данные</a>
        <a ng-class="{'active':selectedTab === 'graphic'}" ng-click="selectedTab = 'graphic'">График</a>
      </div>
    </div>
    <div class="inner_content">
        <div class="loaded">
          <div class="list">
              <span>Загруженные файлы</span>
              <ul>
                <li ng-repeat="resources in allResources">{{resources.path.substring(21)}}</li>
              </ul>
          </div>
        </div>
        <div class="load_content">
          <div class="list_sources">
            <ul>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
              <li><span class="glyphicon glyphicon-film"></span></li>
            </ul>
          </div>
          <to-plug-load></to-plug-load>
        </div>
    </div>
  </div>
</div>
