<span class="selectBttn">
    <label class="selectBttn__checkbox">
        <input type="checkbox" ng-checked="selectedObject.length == 0"
               ng-click="checkDefaultItem(content)" name="name">
        <i class="input"></i>
        <span>{{allProjectString}}</span>
    </label>
    <label ng-repeat="item in content" class="selectBttn__checkbox">
        <input type="checkbox" ng-click="checkItem(item)"
               ng-checked="item.selected" name="name">
        <i class="input"></i>
        <span>{{item.name}}</span>
    </label>
    <!-- <label class="selectBttn__checkbox">
        <input type="checkbox" name="name">
        <i class="input"></i>
        <span>Базис</span>
    </label>
    <label class="selectBttn__checkbox">
        <input type="checkbox" name="name">
        <i class="input"></i>
        <span>Мегаполис</span>
    </label> -->
</span>
