show-card{
    .showCard{
      width: 1254px;
      margin: 0 auto;
      margin-top: 90px;
      background: #fff;
      vertical-align: top;
      border-radius: 1px;
      border: 1px solid #e8e8e8;
      position: relative;
        .showCard_header{
          height: 60px;
          width: 100%;
          line-height: 60px;
          border-bottom: solid 1px #e8e8e8;
          // background-color: red;
            span{
              font-size: 20px;
              margin-left: 20px;
            }
            .click {
              width: 20px;
              height: 20px;
              border: solid 2px #797cfd;
              position: absolute;
              top: 15px;
              right: 15px;
            }
        }
    }
}
