show-card{
    .showCard{
      width: 1254px;
      height: 400px;
      margin: 0 auto;
      margin-top: 90px;
      background: #fff;
      vertical-align: top;
      border-radius: 1px;
      border: 1px solid #e8e8e8;
    }
}
