<div class="main-container">
    <div class="cardPanel">
        <div class="card cardOpen">
            <div class="cardContainer">
                <div class="card__head">
                    <span>Chart name</span>
                </div>
                <a ng-href="#/dashboard" class="resizeBttn">
                    <i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#expand"></use></svg></i>
                </a>

                <div class="card__chart">
                   <div class="card__chart_wrap">
                        <high-chart-line
                           data='data'
                           style="height: 530px;  width: 800px;display: inline-block;"
                           ng-show="chart == 'line'"
                       ></high-chart-line>
                       <high-chart-pie
                           pie-data='pieData'
                           title="name"
                           legend='legend'
                           style="height: 530px;  width: 800px; display: inline-block;"
                           ng-show="chart == 'pie'"
                           pie-layout="horizontal"
                           pie-vertical-align="bottom"
                           pie-align="center"
                           pie-legend-width="400"
                       ></high-chart-pie>
                   </div>
                </div>

                <div class="card__filter">
                    <div class="filterList">
                        <ul class="list-unstyled">
                            <li>
                                <a ng-click="changeChart('pie')" class="active">
                                    <i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#pie-chart"></use></svg></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="changeChart('line')">
                                    <i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#line-chart"></use></svg></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form action="">
                        <div class="filterControl">
                            <div class="item">
                                <lable class="lable">Проект</lable>
                                <checkbox-select></checkbox-select>
                            </div>
                            <div class="item">
                                <lable class="lable">Продукты</lable>
                                <radio-button-select></radio-button-select>
                            </div>
                            <div class="item itemInline">
                                <lable class="lable">По проектам</lable>
                                <a class="bttnToggle" ng-class="{'active' : toggleActive}" ng-click="toggleActive = !toggleActive"></a>
                            </div>
                        </div>
                    </form>

                    <div class="hide">
                        <multi-select-popover
                            content='contentSecond'
                            title="Organization"
                            on-change=showClickedItems
                        ></multi-select-popover>

                        <multi-select-popover
                            content='contentThird'
                            title="Project"
                            on-change=showClickedItems
                        ></multi-select-popover>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
