<div class="dropmodal dropmodal--{{placement}}">
		<i class="dropmodal__trigger icon" ng-click="openDropContent()">
			<svg role="img">
				<use xlink:href="" ng-href="img/svg-symbols.svg#{{iconName}}"></use>
			</svg>
		</i>
		<div class="dropmodal__content">
			<i class="dropmodal__content_cancel icon" ng-click="closeDropContent()">
				<svg role="img"><use xlink:href="img/svg-symbols.svg#close"></use></svg>
			</i>
			<h4 class="dropmodal__content_header">{{title}}</h4>
			<ol class="dropmodal__content_item">
				<li ng-click="click(item.name)" ng-repeat="item in content">
					<a ng-href="#{{item.url}}">
						<span>{{item.name}}</span>
					</a>
				</li>
			</ol>
			<span class="dropmodal__content_arrow"></span>
		</div>
</div>
