<div class="main-container">
  <div class="breadcrumbs">
    <span><a ng-href="#{{breadcrumbs.url}}/view">{{breadcrumbs.name}}</a><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#ar-right"></use></svg></i></span>
    <span><a href="">{{cardKey.name}}</a></span>
  </div>
  <div class="page-container">
    <div class="topBlock">

      <div class="topBlock__description">
        <span>ШАГ 3. Объеденить источники данных.</span>
      </div>
      <div class="linkStep" ng-init="selectedTab = 'arguments'">
        <a ng-href="#{{breadcrumbs.url}}/connect-data/arguments/{{cardKey.id}}">
          {{allStrings.listBindings.argumentsLB}}
        </a>
        <a class="active">
          {{allStrings.listBindings.dataSource}}
        </a>
        <a ng-href="#{{breadcrumbs.url}}/connect-data/graphic/{{cardKey.id}}">
          {{allStrings.listBindings.chart}}
        </a>
      </div>
    </div>
    <div class="innerBlock">
        <div class="sourceFile-wrap">
          <div class="sourceFile">
              <span class="sourceFile__head">{{allStrings.listBindings.downloadedSources}}</span>
              <ul class="sourceFile__list list-unstyled scrollbar">
                <li ng-repeat="item in allResources" ng-class="{active : showDetails}">
                  <i class="icon icon-doc" ng-click="showDetails = !showDetails" ng-init="showDetails=$first">
                    <svg role="img"><use xlink:href="img/svg-symbols.svg#xls"></use></svg>
                  </i>
                  <a>
                    <span>{{item.settings.file.path.substring(26, 45)}}</span>
                  </a>
                  <i class="icon icon-arrow" ng-click="showDetails = !showDetails" ng-init="showDetails=$first">
                    <svg role="img"><use xlink:href="img/svg-symbols.svg#ar-down"></use></svg>
                  </i>

                  <join-data-loaded-tables
                      ng-show="true"
                      resourse-id="item.id"
                      get-resources-tables="getResourcesTables"
                      download-table-names='showDetails'
                      resourse-name="item.settings.file.path"
                  ></join-data-loaded-tables>
                </li>
              </ul>
          </div>
        </div>
        <div class="sourceSelect">
          <join-data-tree></join-data-tree>
        </div>
    </div>
  </div>
</div>
