<div class="main-container">
  <div class="breadcrumbs">
    <span><a ng-href="#{{breadcrumbs.url}}/view">{{breadcrumbs.name}}</a><i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#ar-right"></use></svg></i></span>
    <span><a href="">{{cardKey.name}}</a></span>
  </div>
  <div class="page-container">
    <div class="topBlock">

      <div class="topBlock__description">
        <span>ШАГ 3. Объеденить источники данных.</span>
      </div>
      <div class="linkStep" ng-init="selectedTab = 'arguments'">
        <a ng-href="#{{breadcrumbs.url}}/connect-data/arguments/{{cardKey.id}}">
          {{allStrings.listBindings.argumentsLB}}
        </a>
        <a class="active">
          {{allStrings.listBindings.dataSource}}
        </a>
        <a ng-href="#{{breadcrumbs.url}}/connect-data/graphic/{{cardKey.id}}">
          {{allStrings.listBindings.chart}}
        </a>
      </div>
    </div>
    <div class="inner_content">
        <div class="loaded">
          <div class="list">
              <span>Загруженные файлы</span>
              <ul>
                <li ng-repeat="item in allResources" ng-class="{active : showDetails}">
                  {{item.settings.file.path.substring(26, 45)}}
                  <i style="margin-left: 30px; cursor: pointer; font-size: 14px;"
                      ng-click="showDetails = !showDetails" ng-init="showDetails=$first">
                      +
                  </i>
                    <join-data-loaded-tables
                        ng-show="true"
                        resourse-id="item.id"
                        get-resources-tables="getResourcesTables"
                        download-table-names='showDetails'
                        resourse-name="item.settings.file.path.substring(26, 45)"
                    ></join-data-loaded-tables>
                </li>
              </ul>
          </div>
        </div>
        <div class="load_content">
          <join-data-tree></join-data-tree>
        </div>
    </div>
  </div>
</div>
