join-data-tree{
  table th,table td{
  	height: 50px;
  	width: 200px;

  }
  table strong{
  	display:block;
    text-align: center;
    line-height: 50px;
  	background-color: #09C;
  	height: 100%;
  	width: 100%;
  }
}
