<ol class="list-unstyled">
	<li draggable="true" class="dragg" ng-repeat="(value, key) in items"
			ng-click='onShowTablePreview(value)'>
			<div class="event a" id="a" draggable="true">
				<span class="joinName">{{value.substring(0, 8)}}/{{resourseName.substring(26, 35)}}</span>
				<span class="iconJoin iconJoin-left">
					<!-- <i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#cell-none"></use></svg></i> -->
					<join-data-popover
						title="Таблицы"
						placement="left"
						content="contentSecond2"
						my-counter="myCounter"
					></join-data-popover>
				</span>
				<span class="iconJoin iconJoin-top">
					<join-data-popover
						title="Таблицы"
						placement="left"
						content="contentSecond2"
						my-counter="myCounter"
					></join-data-popover>
				</span>
				<span class="iconJoin iconJoin-right">
					<join-data-popover
						title="Таблицы"
						placement="left"
						content="contentSecond2"
						my-counter="myCounter"
					></join-data-popover>
				</span>
				<span class="iconJoin iconJoin-bottom">
					<join-data-popover
						title="Таблицы"
						placement="left"
						content="contentSecond2"
						my-counter="myCounter"
					></join-data-popover>
				</span>
			</div>
	</li>
</ol>
<!-- <ul>
	<li >

	</li>
</ul> -->

<!-- <div class="dragg">table</div> -->
<!-- <ul>
	<li ng-repeat="item in contentSecond2">
		<strong class="event a" id="a" draggable="true">{{item.name}}</strong>
	</li>
</ul> -->
