main-dashboard-small-card {
  .smallCard {
    width: 610px;
    height: 300px;
    background: #fff;
    vertical-align: top;
    border-radius: 1px;
    border: 1px solid #e8e8e8;
    transition: all 0s linear;
    transform-origin: left top;
    transition-duration: 0s!important;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 18px;
    overflow: hidden;

    .chart_name {
      height: 70px;
      line-height: 55px;
      margin-left: 20px;
    }
  }
}
