<div class="cardWrap" ng-style="{width: data.size == 2 ? '610px' : '300px'}" ng-class="{cardOpen : resize}">
    <div class="card" ng-style="{width: data.size == 2 ? '610px' : '300px'}">
        <div class="cardContainer">
            <div class="card__head">
                <span>{{data.name}}</span>
            </div>
            <a ng-href="#/show/{{data.id}}" class="resizeBttn">
                <i class="icon"><svg role="img"><use xlink:href="img/svg-symbols.svg#expand"></use></svg></i>
            </a>
            <div class="card__chart">
                <div class="card__chart_wrap">
                    <high-chart-line
                        data='data'
                        ng-if="data.charts[0] == 'line'"
                        filter-data="chartData"
                    ></high-chart-line>
                    <high-chart-pie
                        ng-if="data.charts[0] == 'pie'"
                        pie-layout="vertical"
                        pie-vertical-align="middle"
                        pie-align="right"
                        pie-legend-width="90"
                        data="data"
                        filter-data="chartData"
                    ></high-chart-pie>
                    <high-chart-column
                       filter-data="chartData"
                       ng-if="data.charts[0] == 'column'"
                       data='data'
                   ></high-chart-column>
                </div>
            </div>
        </div>
    </div>
</div>
