//helpers
@import "_variables.less";
// @import "_mixins.less";

//base
@import "_base.less";

//layout
@import "_fonts.less";


html,
body {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	background: @grey;
	font-family: "Segoe UI", sans-serif, Arial;
}
