<div class="dropmodal dropmodal--{{placement}}" ng-class="{'dropmodal--active': openContent==true}">

		<span ng-click="openDropContent()">{{popoverHeadName}}

				<i class="icon" ng-hide="upAndDown">
					<svg role="img">
						<use xlink:href="" ng-href="img/svg-symbols.svg#ar-down"></use>
					</svg>
				</i>

				<i class="icon" ng-show="upAndDown">
					<svg role="img">
						<use xlink:href="" ng-href="img/svg-symbols.svg#ar-up"></use>
					</svg>
				</i>

		</span>

		<div class="dropmodal__content">
			<i class="dropmodal__content_cancel icon" ng-click="closeDropContent()">
				<svg role="img"><use xlink:href="img/svg-symbols.svg#close"></use></svg>
			</i>
			<h4 class="dropmodal__content_header">{{title}}</h4>
			<ul class="dropmodal__content_item">
				<li ng-repeat="item in content" ng-click="changePopoverHead(item)">
					{{item.name}}
					<i class="icon" ng-show="popoverHeadName == item.name">
						<svg role="img">
							<use xlink:href="" ng-href="img/svg-symbols.svg#checked"></use>
						</svg>
					</i>
			</ul>
			<span class="dropmodal__content_arrow"></span>
		</div>

</div>
